<form method='POST' action='/add_bookmarks'>
  <label>Enter your Bookmark Below:</label><br>
  <input type="text" name="add_bookmark" ><br>
  <input type="submit" name="Submit" value="Save">
</form>

<form action='/bookmarks' method='GET'>
  <div>To view your bookmarks, Click below</div>
  <input type="submit" value="View Bookmarks">
</form>