<h1>Welcome to your bookmarks!</h1>

<form action='/bookmarks' method='POST'>

  <div>Click view to see your list of bookmarks</div>
  <input type="submit" value="View">
</form>
<br>
<form action='/add_bookmarks' method='POST'>
  <div>To add a bookmark, Click below</div>
  <input type="submit" value="Add bookmark">
</form>
